{% load static %}
<!-- header section starts -->
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{% url 'home_page' %}">
                <img src="{% static 'images/logo.png' %}" alt="" />
            </a>
            <div class="navbar-collapse" id="">
                <ul class="navbar-nav justify-content-between">
                    <div class="User_option">
                        {% if user.is_authenticated %}
                            <!-- Check if the user is a seller or buyer based on the 'role' field in the User model -->
                            {% if user.role == 'SELLER' %}
                                <!-- Seller Options -->
                                <li class="nav-item">
                                    <a class="mr-4" href="{% url 'seller_dashboard' %}">
                                        Seller Dashboard
                                    </a>
                                </li>
                            {% else %}
                                <!-- Buyer Options -->
                                <li class="nav-item">
                                    <a class="mr-4" href="{% url 'buyer_dashboard' %}">
                                        Buyer Dashboard
                                    </a>
                                </li>
                            {% endif %}
                            <!-- Common Logout Link -->
                            <li class="nav-item">
                                <a class="mr-4" href="{% url 'logout' %}">
                                    Logout
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="mr-4" href="{% url 'profile' %}">
                                    UserProfile
                                </a>
                            </li>
                        {% else %}
                            <!-- Show these options when the user is logged out -->
                            <li class="nav-item">
                                <a class="mr-4" href="{% url 'login_page' %}">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="mr-4" href="{% url 'signup_page' %}">
                                    Sign Up
                                </a>
                            </li>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- end header section -->
